<form action="#" method="GET" class='search-form'>
  <div class="search-pane">
    <input type="text" name="search" placeholder="Search here...">
    <button type="submit">
      <i class="icon-search">
      </i>
    </button>
  </div><!-- /search-pane -->
</form>

<div class="subnav">
  <div class="subnav-title">
    <a href="#" class='toggle-subnav'>
      <i class="icon-angle-down"></i>
      <span>
        Sections
      </span>
    </a>
  </div><!-- /subnav-title -->

  <ul class="subnav-menu">
    <li>
      <a href="#">
        All
      </a>
    </li>
    <li>
      <a href="#">
        Common
      </a>
    </li>
    <li>
      <a href="#">
        Access
      </a>
    </li>
    <li>
      <a href="#">
        Data Server
      </a>
    </li>
    <li>
      <a href="#">
        Time
      </a>
    </li>
    <li>
      <a href="#">
        Holiday
      </a>
    </li>
    <li>
      <a href="#">
        Group
      </a>
    </li>
    <li>
      <a href="#">
        Symbols
      </a>
    </li>
    <li>
      <a href="#">
        Backup
      </a>
    </li>
    <li>
      <a href="#">
        Manager
      </a>
    </li>
    <li>
      <a href="#">
        Feeder
      </a>
    </li>
    <li>
      <a href="#">
        Synchronization
      </a>
    </li>
  </ul>
</div><!-- /subnav -->