<form action="#" method="GET" class='search-form'>
  <div class="search-pane">
    <input type="text" name="search" placeholder="Search here...">
    <button type="submit">
      <i class="icon-search">
      </i>
    </button>
  </div><!-- /search-pane -->
</form>

<div class="subnav">
  <div class="subnav-title">
    <a href="#" class='toggle-subnav'>
      <i class="icon-angle-down"></i>
      <span>
        Sections
      </span>
    </a>
  </div><!-- /subnav-title -->

  <ul class="subnav-menu section-links">
    <li>
      <a href="#" class="show-all-sections">
        All
      </a>
    </li>
    <li>
      <a href="#" data-section="section-common">
        Common
      </a>
    </li>
    <li>
      <a href="#" data-section="section-access">
        Access
      </a>
    </li>
    <li>
      <a href="#" data-section="section-data_server">
        Data Server
      </a>
    </li>
    <li>
      <a href="#" data-section="section-time">
        Time
      </a>
    </li>
    <li>
      <a href="#" data-section="section-holiday">
        Holiday
      </a>
    </li>
    <li>
      <a href="#" data-section="section-group">
        Group
      </a>
    </li>
    <li>
      <a href="#" data-section="section-symbols">
        Symbols
      </a>
    </li>
    <li>
      <a href="#" data-section="section-backup">
        Backup
      </a>
    </li>
    <li>
      <a href="#" data-section="section-manager">
        Manager
      </a>
    </li>
    <li>
      <a href="#" data-section="section-feeder">
        Feeder
      </a>
    </li>
    <li>
      <a href="#" data-section="section-synchronization">
        Synchronization
      </a>
    </li>
  </ul>
</div><!-- /subnav -->