<h2>SIGN IN</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:class => "form-validate") do |f| %>
  <div class="control-group">
    <div class="controls">
      <input type="text" name='user[login]' placeholder="Username" class="input-block-level" data-rule-required="true">
    </div>
  </div>
  <div class="control-group">
    <div class="pw controls">
      <input type="password" name="user[password]" placeholder="Password" class="input-block-level" data-rule-required="true">
    </div>
  </div>
  <div class="submit">
    <input type="submit" value="Sign me in" class="btn btn-primary">
  </div>
<% end %>

<div>&nbsp;</div>
