<div class="row-fluid">
  <div class="span12">
    Inactivity period: <%= select_tag "group[archive_period]", options_for_group_archive_period(@grp["archive_period"]), :style => "width: 120px" %> days
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    Maximum balance: <%= select_tag "group[archive_max_balance]", options_for_group_archive_max_balance(@grp["archive_max_balance"]), :style => "width: 120px" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    Archive deleted pendings older: <%= select_tag "group[archive_pending_period]", options_for_group_archive_pending_period(@grp["archive_pending_period"]), :style => "width: 120px" %> month
  </div>
</div>