/*******************************************
         Jelena Style for MetaTrader
********************************************/


/*** 
      UNIC CLASSES
      ************************/

.normal{
	font-weight: normal;
}
.clear{
	clear: both;
}
.padd-10{
	padding: 10px;
}


/*** 
      COLORS
      ************************/

.red-bg{
	background: #e51400;
}
.blue-bg{
	background: #368ee0;
}
.blue{
	color: #368ee0;
}

/*** Common
     ==================================================== 
     ****/
.section h2{
	margin: 15px 0;
}
.table-bordered {
border: 1px solid #ddd!important;
}
.common-table td:first-child{
	background: #f6f6f6;
	color: #555;
	border-right: 1px solid #DDD;
}
.common-table{
	border: 2px solid #ddd;
}
.common-table .ui-spinner{
	border-color: #ccc!important;
}
.common-table .input-append{
	margin-bottom: 0;
	margin-left: -3px;
}
.table-striped tbody>tr:nth-child(odd)>td, 
.table-striped tbody>tr:nth-child(odd)>th {
background-color: #f9f9f9;
}
.table.common-table tr th, 
.table.common-table tr td{
	/*padding: 6px 10px 4px 10px;*/
}
.grey-bg{
	background: #DDD;
	color: #666;
}
.common-table .input-xlarge.input-prepend .add-on:first-child {
border: 1px solid #ccc;
padding: 4.5px 6px;
}
.common-table .chzn-container.chzn-container-single .chzn-single {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.common-table .chzn-container.chzn-container-single .chzn-single:hover{
	border-bottom: 1px solid #ccc;
}
.common-table .chzn-container.chzn-container-single .chzn-single:active,
.common-table .chzn-container.chzn-container-single .chzn-single:focus,
.common-table .chzn-container.chzn-container-single .chzn-single:visited{
	border: 1px solid #ccc;
}
.common-table .chzn-container.chzn-container-single .chzn-single-with-drop{
	border: 1px solid #aaa;
}

select.single-line,
input.single-line{
	background: none;
}
select.single-line:hover,
select.single-line:active,
select.single-line:focus,
select.single-line:visited,
input.single-line:hover[type="text"],
input.single-line:active[type="text"],
input.single-line:focus[type="text"],
input.single-line:visited[type="text"]{
	border-bottom: 1px solid #0088cc;
}
input.single-line:focus[type="text"]{
	color:  rgb(38, 111, 179);
}
select.single-line,
input.single-line[type="text"], 
input.single-line[type="password"], 
input.single-line[type="datetime"], 
input.single-line[type="datetime-local"], 
input.single-line[type="date"], 
input.single-line[type="month"], 
input.single-line[type="time"], 
input.single-line[type="week"], 
input.single-line[type="number"], 
input.single-line[type="email"], 
input.single-line[type="url"], 
input.single-line[type="search"], 
input.single-line[type="tel"], 
input.single-line[type="color"], 
.uneditable-input {
	background: none;
	border-top: none!important;
	border-left: none!important;
	border-right: none!important;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}
.ui-spinner{
	border-color: transparent!important;
}
.ui-spinner .spinner {
	margin-bottom: 0;
}
.chzn-container{
	width: 220px!important;
}
.chzn-drop{
	width: 218px!important;
}
.chzn-container-single .chzn-search input {
width: 184px!important;
}
.chzn-container.chzn-container-single .chzn-single {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ddd;
}
.chzn-container.chzn-container-single .chzn-single:hover{
	border-bottom: 1px solid #08c;
}
.chzn-container.chzn-container-single .chzn-single:active,
.chzn-container.chzn-container-single .chzn-single:focus,
.chzn-container.chzn-container-single .chzn-single:visited{
	border: 1px solid #DDD;
}
.chzn-container.chzn-container-single .chzn-single-with-drop{
	border: 1px solid #aaa;
}
/*** Access
     ==================================================== 
     ****/
.table-border{
	border:1px solid #ddd!important;
}
.access-table a {
	color: #ccc;
}
.hover-table thead tr th,
.symbol-table thead tr th,
.group-table thead tr th,
.group-table2 thead tr th{
	color: rgb(155, 155, 155);
	background: transparent;
	border-bottom: 3px solid #eee;
}
.hover-table thead tr:hover{
	background: transparent;
}
.hover-table tr:hover{
	background: #eee;
}
.hover-table tr td:last-child{
	width: 50px;
}
.table-access-form td,
.table-access-form th{
	border:1px dotted #ddd;
}
.table-access-form th label{
	font-weight: bold;
}
.modal-backdrop, .modal-backdrop.fade.in{
	opacity: 0.33;
}
.modal-form .modal-header{
	border-bottom: none;
	color: rgb(155, 155, 155);
	font-weight: 200;
	padding: 9px 9px 9px 10px;
}
.modal-form .modal-header h3{
	font-weight: 400;
	font-size: 16px;
}
.modal-form .modal-body{
	padding: 0;
}
.modal-form .modal-footer{
	text-align: center;
	border-top: none;
}
.modal-form .modal-body .form-horizontal.form-bordered .control-group .controls {
	border-left: 1px dotted #DDD;
}
.modal-form .modal-body .form-horizontal.form-bordered .control-group{
	border-bottom: 1px dotted #DDD;
}
.modal-form .modal-body .form-horizontal.form-bordered .control-group:last-child{
	border-bottom: none;
}
.modal-form .border{
	border-top:1px dotted #DDD;
}
.modal-form .form-horizontal.form-bordered .control-group .control-label {
color: rgb(155, 155, 155);
}
/*** Data server
     ==================================================== 
     ****/
.account-table td:last-child a,
.data-server-table td:last-child a,
.sync-table td:last-child a,
.manager-table td:last-child a,
.feeder-table td:last-child a,
.plugin-table td:last-child a,
.group-table td:last-child a,
.group-table2 td:last-child a,
.symbol-table td:last-child a,
.holiday-table td:last-child a{
	color: #ccc;
}
.account-table td:last-child a:hover,
.account-table td:last-child a:focus,
.sync-table td:last-child a:hover,
.sync-table td:last-child a:focus,
.manager-table td:last-child a:hover,
.manager-table td:last-child a:focus,
.feeder-table td:last-child a:hover,
.feeder-table td:last-child a:focus,
.plugin-table td:last-child a:hover,
.plugin-table td:last-child a:focus,
.group-table td:last-child a:hover,
.group-table td:last-child a:focus,
.group-table2 td:last-child a:hover,
.group-table2 td:last-child a:focus,
.symbol-table td:last-child a:hover,
.symbol-table td:last-child a:focus,
.holiday-table td:last-child a:hover,
.holiday-table td:last-child a:focus,
.data-server-table td:last-child a:hover, 
.data-server-table td:last-child a:focus {
	color: #005580;
}

.form-data-server .form-actions{
	margin: 8px 0;
	padding: 5px 0 5px 180px;
}
.border{
	border:1px solid #ddd;
}
.modal-account .modal-body,
.modal-holiday .modal-body,
.modal-data-feeds .modal-body,
.modal-group2 .modal-body,
.modal-symbol .modal-body,
.modal-data-server .modal-body{
	overflow: visible;
}

/*** Time
     ==================================================== 
     ****/
.table.time-table tr th, 
.table.time-table tr td {
	border-top: 15px solid rgb(255, 255, 255);
	background: #f5f5f5;
}
.table-bordered.time-table{
	border:none!important;
}
.table.time-table tr td:first-child{
	font-weight: normal;
	background: #f5f5f5;
	color: #999;
}
.table.time-table tr td:hover{
	background: #EEE;
}
.table.time-table tr td:first-child:hover{
	background: #f5f5f5;
}
.table.time-table thead tr th{
	background: #f5f5f5;
	color: #999;
	font-weight: normal;
}
.table-bordered.time-table th, 
.table-bordered.time-table td {
	border-left: none;
}
/*** Holiday
     ==================================================== 
     ****/

.modal-holiday .modal-body{
	max-height: 650px;
}

.form-horizontal.form-bordered .control-group.thin-row .control-label{
	padding: 3px 10px;
}
.form-horizontal.form-bordered .control-group.thin-row .controls {
	padding: 3px 10px;
}
.check-line{
	display: inline-block;
}
.check-left.check-line .inline{
	width: 90px;
}
/*** Symbol page, tab-forms
     ==================================================== 
     ****/
.tab-forms .tabbed_panel{
	margin-top: 0;
}
.tab-forms li.tab{
	border-left: solid 1px #ddd;
	border-top: solid 1px #ddd;
	border-right: solid 1px #aaa;
}
li.tab.tab_unselected{
	background-color: rgb(233, 233, 233);
	border-top:1px solid #DDD;
	font-weight: normal;
}
li.tab.tab_unselected:hover{
	background: #368ee0;
}
li.tab.tab_unselected a{
	color: #777;
}
li.tab.tab_unselected a:hover{
	color: #ffffff;
}
li.tab.tab_selected a{
	color: #368ee0;
}
li.tab.tab_selected a:hover{
	color: #1e74c5;
}
.panes{
	height: auto!important;
	padding: 0!important;
	border-top:1px solid #aaa!important;
	border-bottom: none!important;
	border-left: none!important;
	border-right: none!important;
}
.modal.modal-account,
.modal.modal-group2,
.modal.modal-data-feeds,
.modal.modal-symbol{
	width: 600px;
}

.modal-group2 .modal-body,
.modal-symbol .modal-body{
	max-height: 550px;
}
.modal-account .modal-body,
.modal-data-feeds .modal-body{
	max-height: 600px;
}
.inline-row{
	display: table-cell;
}
.tab-forms .inline-row input{
	margin: 0;
}
.tab-forms .inline-row input[type="text"]{
	font-size: 10px;
	padding: 0px 2.9px;
}
.tab-forms .hover-table tr td:last-child{
	width: auto;
}

.input-small .chzn-container{
	width: 90px!important;
	margin-bottom: 10px;
}
.input-small .chzn-drop{
	width: 88px!important;
}
.input-small .chzn-container-single .chzn-search input{
	width: 53px!important;
}
.modal .icheckbox_minimal-blue, 
.modal .icheckbox_minimal-blue.static:hover {
	background-position: 0 0;
	float: left;
	margin-right: 5px;
}
.input-block .chzn-container {
	display: block!important;
	width: 100%!important;
	margin-bottom: 10px;
}
.input-block .chzn-drop{
	width: 99.589%!important;
}
.input-block .chzn-search input {
	width: 95%!important;
}
.grey-select .chzn-container.chzn-container-single{
	background: #e6e6e6;
}
.tab-forms .tabbed_panel .panes .pane input{
	margin-bottom: 10px;
}
.tab-forms .tabbed_panel .panes .pane .chzn-container{
	margin-bottom: 10px;
}
.modal-account .form-actions,
.modal-plugin .form-actions,
.modal-sync .form-actions,
.modal-group2 .form-actions,
.modal-symbol .form-actions{
	margin-top: 0;
}

/*** Manager
     ==================================================== 
     ****/
.hover-table.feeder-table tr td:last-child,
.hover-table.manager-table tr td:last-child{
	width: 1auto;
}
.modal-account .form-actions,
.modal-plugin .form-actions,
.modal-sync .form-actions,
.modal-manager .form-actions{
	margin: 0;
	padding: 10px;
}


.loading{
	display: none;
}
.modal-plugin .table{
	margin-bottom: 5px;
}