<div id="navigation">
	<div class="container-fluid">
	  <a href="#" id="brand">
	    MetaTrader
	  </a>
	  <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation">
	    <i class="icon-reorder"></i>
	  </a>
	  <ul class='main-nav'>
	    <!-- Main navigation -->
	  </ul>
	  <div class="user">
	    <ul class="icon-nav">
	      <li>
	      	<%= link_to destroy_user_session_path, :method => :delete, data: { placement: "bottom"}, :class => 'lock-screen', :rel => 'tooltip', :title => "Logout" do %>
	        	<i class="icon-lock"></i>
	      	<% end %>
	      </li>
	    </ul>
	  </div>

	</div>
</div><!-- /navigation -->