<div id="navigation">
	<div class="container-fluid">
	  <a href="#" id="brand">
	    MetaTrader
	  </a>
	  <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation">
	    <i class="icon-reorder"></i>
	  </a>
	  <ul class='main-nav'>
	    <!-- Main navigation -->
	  </ul>
	  <div class="user">
	    <ul class="icon-nav">
	      <li>
	        <a href="#" class='lock-screen' rel='tooltip' title="Logout" data-placement="bottom"><i class="icon-lock"></i></a>
	      </li>
	    </ul>
	  </div>

	</div>
</div><!-- /navigation -->